@model CustomerPortal.Models.MutualFundDetails

@{
    ViewData["Title"] = "SellMutualFund";
}

<div>
    <h1 class="bg-dark rounded text-white shadow-lg">Sell Your MutualFunds</h1>
    <a asp-action="Logout" class="btn btn-success float-md-right ">LogOut</a>
</div>
<div class="col-md-4">
    <form asp-action="SellMutualFund">
        <label asp-for="@Model.MutualFundName"></label>
        <input class="form-control" asp-for="@Model.MutualFundName" readonly />
        <br />
        <label asp-for="@Model.MutualFundUnits"></label>
        <input class="form-control" min="0" asp-for="@Model.MutualFundUnits" />
        <br />
        <input type="submit" value="Sell" class="btn btn-success" />
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

